<div class="wrapper">
  <div class="dropdowngraphcontainer">
    <mat-form-field appearance="fill" class="dropdowngraph">
      <mat-label>Select content filter</mat-label>
      <mat-select (selectionChange)="onSubmit($event)" multiple>
        <mat-option value="publications">Publications</mat-option>
        <mat-option value="translations">Translations</mat-option>
        <mat-option value="type">Content types</mat-option>
        <mat-option value="users">Users</mat-option>
        <mat-option value="nid">Translations per Node</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="grid-container">
    <div *ngFor="let select of selectedTypes">
      <div class="grid-item">
        <app-pie-chart [user]="user" [dataType]="select">
        </app-pie-chart>
      </div>
    </div>
    <div *ngFor="let select of selectedTypes">
      <div class="grid-item">
        <app-bar-chart [user]="user" [dataType]="select">
        </app-bar-chart>
      </div>
    </div>
  </div>
</div>
