
.dropdowngraphcontainer{
  width: 100%;

}
.dropdowngraph{
  width:30%;
  margin: 1%;

}
.wrapper{
  width: 100%;
}
.mat-option{
  color: #3f51b5;
  position: relative;
}
.mat-select{
  margin-top: 30px !important;
  position: relative;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}
