h1{
  width: 100%;
  height: 250px;
  text-align: center;
  font-weight: bold;
  background: gold;
  font-family: 'Oswald',sans-serif;
  margin: 0;
  padding-top: 80px;
  font-size: 80px;
  text-shadow: 3px 4px rgba(0,0,0,0.3);

}

