<div class="flex">
<h2 class="header2">{{node.title}}</h2>
<table class="styled-table">
  <tbody>
  <tr class="active-row">
    <th i18n>Node id</th>
    <td>{{node.nodeId}}</td>
  </tr>
  <tr>
    <th i18n>
      Content type
    </th>
    <td> {{node.contentType}} </td>
  </tr>
  <tr class="active-row">
    <th i18n>username</th>
    <td> {{node.username}}</td>
  </tr>
  <tr>
    <th i18n>original language</th>
    <td>{{node.originalLanguage}}</td>
  </tr>
  <tr class="active-row">
    <th i18n>published</th>
    <td>{{node.published}}</td>
  </tr>
  </tbody>
</table>
</div>
