.styled-table {
  border-collapse: collapse;
  margin: 0px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);

}
.header2 {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #009879;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #009879;
  color: #ffffff;
}
th {
  background-color: #006699;
  color: #ffffff;
  border: 1px solid white;
}
th:first-child {
  border: 1px solid #009879;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 4px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.flex{
  width:25%;
}

